<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="container">
    <a class="navbar-brand" style="color:#FFFFFF">Reddit</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" (keyup)="onKey($event)" [(ngModel)]="key" [ngModelOptions]="{standalone: true}" type="search" value="funny" placeholder="Search"
        aria-label="Search">
    </form>
  </div>
</nav>
<div class="container" style="padding-top:30px">
  <ul>
    <div *ngFor="let result of results">
      <li>
        <div class="row d-flex">
          <div *ngIf="showImage()" class="col-sm-2 ml-auto">
            <img style="margin:auto" src="{{result.thumbnail}}" width="90px" height="90px" style="border-radius:45px">
          </div>
          <div class="col-sm-10 ml-auto">
            <h4>{{result.author}}</h4>
            <h5 style="overflow:hidden;white-space:nowrap">{{result.title}}</h5>
            <div class="row">
              <div class="row" style="margin-top:auto;margin-left:30px">
                <p>{{result.num_comments}}</p><i class="material-icons">comment</i>
              </div>
              <div class="row" style="margin-top:auto;margin-left:30px">
                <p>{{result.ups}}</p><i class="material-icons">arrow_upward</i>
              </div>
              <div class="row" style="margin-top:auto;margin-left:30px">
                <p>{{result.downs}}</p><i class="material-icons">arrow_downward</i>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>